/*region #CERTIFICATE*/
.travel-info {
  overflow: hidden;
  margin: 27px 0 35px;

  &__row {
    font: {
      family: $bold;
    }
    margin-bottom: 6px;
    overflow: hidden;

    span {
      float: left;
      padding: 0 14px;
      text-align: left;
      width: 55%;

      &.text--blue,
      &.text--regular {
        text-align: right;
        width: 45%;
      }

      &.text--address {
        line-height: 21px;
      }
    }
  }

  .fl-l,
  .fl-r {
    width: 50%;
  }

  &--package {
    border-top: 1px solid #d4d4d4;
    margin: 0 -15px;
    padding: 25px 15px 0;

    .travel-info__row {
      span {
        padding: 0 7px;
      }
    }
  }
}

/*endregion #CERTIFICATE*/