/*region #BASIC STYLES*/
* {
  @include box-sizing(border-box);
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 20px;
}

small {
  font: {
    family: $regular;
    size: 12px;
  }
}

strong {
  font: {
    family: $bold;
  }
}

/*endregion #BASIC STYLES*/

/*region #HELPER CLASSES*/
.fl-l {
  float: left;

  @media #{$mobile} {
    float: none;
  }
}

.fl-r {
  float: right;

  @media #{$mobile} {
    float: none;
  }
}

.mobile,
.desktop {
  display: none;
}

.mobile {
  @media #{$mobile} {
    display: block;
  }
}

.desktop {
  @media #{$desktop} {
    display: block;
  }
}

.separator {
  background: $blue;
  height: 1px;
  margin: 35px auto 50px;
  max-width: 300px;

  @media #{$mobile} {
    max-width: 225px;
    margin: 25px auto 35px;
  }
}

.required {
  color: $red;
}

.clearfix {
  @include clearfix;
}

.wrapp {
  @include clearfix;
  border-radius: 8px;
  padding: 20px;

  @media #{$mobile} {
    margin: 0 -15px;
    padding: 12px;
  }

  &--gray {
    background: #f1f1f1;
  }

  &--light-blue {
    background: #e7f1f6;
    border-radius: 0;
    color: #4f6481;
    max-width: 550px;
    margin: auto;
    padding: 21px 50px;
    text-align: center;

    @media #{$mobile} {
      font: {
        size: 12px;
      }
      padding: 20px;
    }
  }
}

.text--blue {
  color: $blue;
}

.text--green {
  color: $green;
}

.text--thin {
  font: {
    family: $light;
  }
}

.text--regular {
  font: {
    family: $regular;
  }
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.accept-btn {
  text-align: center;

  .btn {
    margin: 8px;
    min-width: 100px;
    text-transform: none;

    @media #{$mobile} {
      margin: 4px;
      min-width: 75px;
    }
  }
}

/*endregion #HELPER CLASSES*/