/*region #BUTTONS*/
.btn {
  $height: 40px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  font: {
    family: $bold;
    size: 14px;
  }
  height: $height;
  line-height: $height;
  min-width: 170px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: nowrap;

  @media #{$mobile} {
    $height: 30px;
    font: {
      size: 10px;
    }
    height: $height;
    line-height: $height;
    min-width: 120px;
    padding: 0 10px;
  }

  span,
  i {
    display: inline-block;
    vertical-align: middle;
  }

  .fa {
    font: {
      size: 18px;
    }
    line-height: 1;
    margin-right: 11px;

    @media #{$mobile} {
      font: {
        size: 16px;
      }
      margin-right: 5px;
    }

    &.fa-file-pdf-o,
    &.fa-file-o,
    &.fa-angle-left,
    &.fa-angle-right,
    &.fa-check-circle {
      font: {
        size: 21px;
      }

      @media #{$mobile} {
        font: {
          size: 18px;
        }
      }
    }

    &.fa-angle-right,
    &.fa-angle-left,
    &.fa-check-circle {
      margin: 9px 0;

      @media #{$mobile} {
        margin: 7px 0;
      }
    }

    &.fa-angle-left {
      float: left;
      margin-right: 9px;

      @media #{$mobile} {
        margin-right: 5px;
      }
    }

    &.fa-angle-right,
    &.fa-check-circle {
      float: right;
      margin-left: 9px;

      @media #{$mobile} {
        margin-left: 5px;
      }
    }
  }
}

.btn-primary {
  background: $blue;
  color: $white;
}

.btn-green {
  background: $green;
}

.btn-dark {
  background: #2d3847;

  .fa {
    color: #4f6481;
  }
}

.btn-gray {
  background: #b6c8d1;

  &:hover {
    background: $blue;
  }
}

.btn-rounded {
  border-radius: 11px;

  @media #{$mobile} {
    border-radius: 4px;
  }
}

.btn-toggle {
  background: $white;
  color: $blue;
  font: {
    size: 12px;
  }
  height: 34px;
  line-height: 36px;
  min-width: 1px;
  margin-top: -17px;
  padding: 0 11px;
  position: absolute;
  right: 0;
  top: 50%;

  @media #{$mobile} {
    right: 15px;
    width: 34px;

    span {
      display: none;
    }
  }

  .fa {
    font: {
      size: 22px;
    }
    margin: 0 0 0 11px;
    position: relative;
    top: -1px;

    @media #{$mobile} {
      left: -1px;
      top: 0;
      margin: 0;
    }
  }
}

/*endregion #BUTTONS*/