/*region #VARIABLES*/
// Fonts
$regular: 'Proxima Nova Regular', sans-serif;
$light: 'Proxima Nova Light', sans-serif;
$bold: 'Proxima Nova Bold', sans-serif;

// Colors
$white: #fff;
$light-gray: #f1f1f1;
$black: #000;
$base: #5f5f5f;
$blue: #0f78ab;
$light-blue: #e7f1f6;
$green: #0fab76;
$red: #ab0f0f;

// Size
$footer-h: 80px;

// Path
$img-path: '../images';
$fonts-path: '../fonts';

// Breakpoints
$mobile: '(max-width: 768px)';
$desktop: '(min-width: 769px)';

/*endregion #VARIABLES*/