/*region #FOOTER*/
.footer {
  @extend .header;
  margin: (-($footer-h)) auto 0;
  height: $footer-h;

  @media #{$mobile} {
    height: 100px;
    margin-top: -100px;
  }

  &__logo {
    margin: 14px 24px 14px 0;
    width: 106px;

    @media #{$mobile} {
      margin: 10px 10px 10px 0;
      width: 60px;
    }
  }
}

.socials {
  margin: 20px 0;
  overflow: hidden;

  @media #{$mobile} {
    margin: 0;
    text-align: center;
  }

  &__item {
    $size: 40px;
    display: inline-block;
    height: $size;
    margin-left: 12px;
    width: $size;

    a,
    i {
      display: block;
    }
  }
}

.copyright {
  display: inline-block;
  margin: 31px 0;

  @media #{$mobile} {
    margin: 20px 0 15px;
  }
}

/*endregion #FOOTER*/