/*region #HEADER*/
.header {
  background: #4f6481 url("#{$img-path}/backgrounds/header_bkg.png") no-repeat center right;
  color: $white;
  font: {
    family: $bold;
    size: 14px;
  }
  height: 100px;
  overflow: hidden;
  position: relative;

  @media #{$mobile} {
    height: 75px;
  }

  &__logo {
    margin: 12px 0;
    width: 150px;
    
    @media #{$mobile} {
      width: 99px;
    }
  }

  &__auth {
    float: right;
    text-align: right;

    @media #{$mobile} {
      width: calc(100% - 114px);
    }

    .btn {
      margin: 17px 0 14px 19px;
      width: 200px;
    }
  }

  .header__actions {
    @media #{$mobile} {
      display: none;
    }
  }

  &__user {
    background: rgba(#2d3847, .5);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: -23px;
    padding: 0 14px;
    position: relative;
    top: 16px;
    text-align: left;
    width: 220px;

    @media #{$mobile} {
      color: $white;
      font: {
        family: $bold;
      }
      height: 30px;
      line-height: 30px;
      float: left;
      width: calc(100% - 120px);
      top: 0;
    }

    span {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.auth__actions {
  @include clearfix;
  margin: 5px 0 19px;
  position: relative;

  .btn:not(.btn-square) {
    float: left;
    margin: 0 3px;
    width: 133px;
  }

  &--login {
    padding: 0 3px;
  }
}

.btnInfo,
.introduce-block__info {
  background: #4f6481;
}

.btnSpecial,
.introduce-block__special {
  background: #5f728c;
}

.introduce-block__key {
  background: $blue;
}

#introduce {
  padding: 0;
  position: relative;

  @media #{$desktop} {
    padding: 30px 0 0;
  }

  .mobile {
    float: left;
    width: calc(100% - 98px);

    @media #{$mobile} {
      .auth__actions {
        margin-right: -3px;
      }
    }
  }
}

.introduce-container {
  @media #{$desktop} {
    overflow: hidden;
  }
  
  @media #{$mobile} {
    float: right;
    margin-top: 5px;
  }

  .btn-square {
    $size: 30px;
    height: $size;
    float: left;
    line-height: $size;
    min-width: $size;
    padding: 0;
    width: $size;
  }

  .fa {
    font: {
      size: 20px;
    }
    margin: 0;

    @media #{$mobile} {
      font: {
        size: 16px;
      }
    }
  }
}

.introduce-nav {
  float: right;
  margin-right: 1px;
  width: 90px;

  @media #{$mobile} {
    margin-right: 3px;
  }
}

.introduce-block {
  color: $white;
  font: {
    family: $regular;
  }
  position: absolute;
  left: 3px;
  right: 3px;
  top: 35px;
  z-index: 10;

  @media #{$desktop} {
    left: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    top: -30px;
    width: 100%;
  }

  &__inner {
    height: 30px;
    overflow: hidden;

    @media #{$desktop} {
      height: 330px !important;
      line-height: 1.25;
      float: left;
    }

    &.open {
      height: auto;
    }
  }

  &__title {
    margin: 0 0 16px;
  }

  .fa {
    margin-right: 6px;
  }

  h3 {
    color: inherit;

    @media #{$mobile} {
      font: {
        size: 16px;
      }

      span {
        font: {
          size: 12px;
        }
      }
    }
    
    br {
      @media #{$mobile} {
        display: none;
      }
    }
  }

  h3:not(.introduce-block__title),
  figure {
    @media #{$desktop} {
      padding: 24px;
    }
  }

  h3:not(.introduce-block__title) {
    font: {
      family: inherit;
    }

    @media #{$desktop} {
      padding-left: 20px;

      span {
        font: {
          size: 14px;
        }
      }
    }
  }

  &__header,
  &__content {
    padding: 6px 13px;

    @media #{$desktop} {
      padding: 0;
      overflow: hidden;
    }
  }

  &__header {
    h3 {
      margin: 0;
      padding-bottom: 0;
    }
  }

  &__content {
    @media #{$desktop} {
      padding: 0 30px 23px;
    }
  }

  p {

    & + p {
      margin-top: -20px;
    }
  }
}

.introduce-block__info {
  figure {
    margin: 13px 0 5px;
    max-width: 150px;

    @media #{$desktop} {
      float: left;
      margin: 0;
      max-width: 50%;
      padding-right: 20px;
      text-align: center;
      width: 50%;
    }
  }

  @media #{$desktop} {
    width: 43%;

    .introduce-block__header {
      border-bottom: 1px solid #72839a;

      h3 {
        border-left: 1px solid #72839a;
        float: right;
        margin: 0;
        width: 50%;
      }
    }

    .introduce-block__content {
      padding-top: 23px;
    }

    .fa {
      display: none;
    }
  }
}

.introduce-block__special {
  @media #{$desktop} {
    width: 25%;
  }
}

.introduce-block__key {
  font-size: 14px;

  .introduce-block__content {
    ul {
      li {
        padding-left: 10px;
        position: relative;

        &:before {
          content: "\f054";
          font-family: FontAwesome;
          font-size: 10px;
          position: relative;
          left: -10px;
        }

        & + li {
          margin-top: 5px;
        }
      }
    }
  }

  @media #{$desktop} {
    width: 32%;
  }
}

/*endregion #HEADER*/