/*region #MENU*/
.menu {
  display: inline-block;

  &__list {
    margin: 0 -19px;
    overflow: hidden;

    @media #{$mobile} {
      font: {
        size: 10px;
      }
      margin: 10px 0;
    }
  }

  &__item {
    line-height: 18px;
    position: relative;
    text-transform: capitalize;

    @media #{$desktop} {
      float: left;
    }

    a {
      display: block;
      color: inherit;

      @media #{$desktop} {
        padding: 0 19px;
      }
    }

    & + .menu__item {
      @media #{$desktop} {
        &:before {
          background: $white;
          content: '';
          left: 0;
          margin-top: -5px;
          height: 10px;
          position: absolute;
          top: 50%;
          width: 1px;
        }
      }
    }
  }
}

/*endregion #MENU*/