/*region #OPTIONS*/
.options {
  margin: 0 -4px 44px -4px;

  @media #{$mobile} {
    margin: 0 0 25px;
  }

  &__item {
    display: inline-block;
    vertical-align: bottom;

    @media #{$mobile} {
      display: block;
      width: 100%;
    }
  }

  &--travellers {
    margin-bottom: 62px;

    @media #{$mobile} {
      margin-bottom: 25px;
    }
  }
}

.option {
  @include clearfix;
  background: $blue;
  border-radius: 11px;
  color: $white;
  cursor: pointer;
  font: {
    family: $bold;
    size: 18px;
  }
  height: 185px;
  margin-bottom: 11px;
  padding: 15px;
  text-transform: capitalize;
  text-align: center;

  @media #{$mobile} {
    border-radius: 8px;
    font: {
      size: inherit;
    }
    height: 90px;
    padding: 10px;
    width: 100% !important;
  }

  &__img {
    span {
      display: block;
      height: 94px;
      line-height: 94px;
      margin: 7px auto 18px;
      text-align: center;
      width: 165px;

      @media #{$mobile} {
        height: 40px;
        line-height: 40px;
        margin: 0 auto 8px;
        width: 45px;
      }
    }

    img {
      max-height: 100%;

      @media #{$desktop} {
        vertical-align: bottom;
      }
    }
  }

  &--count,
  &--age {
    background: $light-gray;
    color: $blue;
    cursor: default;

    .form__select,
    .form__filed {
      font: {
        family: $bold;
      }
      text-align: center;
      width: 122px;

      @media #{$mobile} {
        width: 90px;
      }
    }
  }

  &--count {
    .form__select {
      float: none;
      margin: auto;
    }

    .option__img {
      span {
        height: 69px;
        line-height: 69px;
        margin: 0 auto 12px;
        width: 60px;

        @media #{$mobile} {
          height: 48px;
          line-height: 48px;
          width: 45px;
        }
      }
    }

    .total-count {
      @media #{$desktop} {
        margin-left: 40px;
      }

      span {
        display: inline-block;
      }

      &__field {
        color: $base;
        height: 42px;
        line-height: 40px;
        border: 1px solid #dcdcdc;
        min-width: 82px;
        padding: 0 10px;
        max-width: 100%;
      }

      &__label {
        margin-top: 31px;
        margin-bottom: 24px;

        @media (min-width: 376px) and (max-width: 768px) {
          margin-top: 70px;
        }

        @media #{$mobile} {
         margin-bottom: 10px;
        }
      }
    }
  }

  &--age {
    @include clearfix;
    border-radius: 11px 11px 0 0;
    height: auto;
    margin: 0;
    width: 100%;

    .option__img {
      @media #{$desktop} {
        margin-left: 70px;
        margin-right: 48px;
      }

      span {
        @media #{$desktop} {
          height: 64px;
          line-height: 64px;
          margin: 0;
          width: 60px;
        }
      }

      img {
        vertical-align: middle;
      }
    }

    .form__item,
    .form__label,
    .form__select,
    .form__filed,
    .option__img {
      @media #{$desktop} {
        float: left;
      }
    }

    .form__label {
      @media #{$desktop} {
        margin-right: 21px;
        text-align: left;
        width: auto;
      }
    }

    .form__select,
    .form__filed {
      @media #{$mobile} {
        width: 275px;
        margin: auto;
      }
    }

    .form__item {
      margin: 11px 37px 10px 0;
    }

    & + .option--age {
      border-radius: 0 0 11px 11px;
    }
  }

  &--large {
    margin-left: 2px;
    margin-right: 2px;
    width: 308px;
  }

  &--middle {
    width: 232px;
  }

  &--small {
    width: 184px;
  }

  &--violet {
    background: #6535b2;
  }

  &--green {
    background: #0fab76;
  }

  &--olive {
    background: #ab9e0f;
  }

  &--brown {
    background: #ab6b0f;
  }
}

.travellers-count {
  .options {
    @media #{$mobile} {
      position: relative;
    }
  }

  .options__item {
    margin-left: -4px;

    @media #{$mobile} {
      margin-left: 0;

      &:not(:last-child) {
        float: left;
        width: 33.333%;
      }

      &:last-child {
        clear: both;
        display: block;
      }

      &:first-child {
        border-radius: 8px 0 0 8px;
      }

      &:nth-of-type(2) {
        .option {
          &__img {
            img {
              height: 40px;
            }
          }
        }
      }

      &:nth-of-type(3) {
        border-radius: 0 8px 8px 0;

        .option {
          &__img {
            img {
              height: 25px;
            }
          }
        }
      }
    }

    &:first-child {
      .option {
        @media #{$desktop} {
          border-radius: 11px 0 0 11px;
        }
      }
    }

    &:nth-of-type(3) {
      .option {
        @media #{$desktop} {
          position: relative;
        }

        &:after {
          content: '';
          position: absolute;

          @media #{$desktop} {
            background: url('#{$img-path}/backgrounds/corner.png') no-repeat;
            height: 185px;
            right: -56px;
            top: 0;
            width: 56px;
          }

          @media #{$mobile} {
            background: url('#{$img-path}/backgrounds/corner--down.png') no-repeat;
            background-size: 100% auto;
            height: 60px;
            left: 0;
            right: 0;
            top: 171px;
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .option {
        background: none;

        @media #{$mobile} {
          height: auto;
        }
      }
    }

    .option {
      border-radius: inherit;
      margin: 0;

      @media #{$mobile} {
        height: 171px;

        figcaption {
          min-height: 42px;
        }

        &__img {
          img {
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.travellers-age {
  .options__item {
    display: block;
    width: 100%;

    & + .options__item {
      .option--age {
        border-radius: 0 0 11px 11px;
      }
    }
  }
}

.cover-options {
  @media #{$desktop} {
    float: left;
    width: 550px;
  }
}
/*endregion #OPTIONS*/