/*region #SEND DOCUMENTS*/
.send-documents {
  background: $light-blue;
  color: #4f6481;
  margin: auto;
  max-width: 550px;
  padding: 22px 30px 30px;
  position: relative;
  text-align: center;

  h3,
  h4 {
    color: inherit;
    margin-bottom: 0;
  }

  &--quote {
    margin-top: 129px;
  }
}

/*endregion #SEND DOCUMENTS*/