/*region #STEPS*/
.steps {
  @include clearfix;
  height: 73px;
  margin: 0 0 50px;
  position: relative;
  text-align: justify;
  width: auto;

  @media #{$mobile} {
    height: 48px;
    margin: 0 -10px 40px;
  }

  &:before {
    background: rgba(#b6c8d1, .5);
    content: '';
    left: 15px;
    height: 1px;
    position: absolute;
    right: 15px;
    top: 50%;
  }

  &__item {
    display: inline-block;

    &:last-child {
      width: 100%;
    }
  }
}

.step {
  $size: 73px;
  background: #b6c8d1;
  border: 3px solid $white;
  border-radius: 50%;
  @include box-shadow(0 0 30px 0 rgba($base, .2));
  color: $white;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $bold;
    size: 14px;
  }
  height: $size;
  line-height: $size - 6;
  position: relative;
  text-align: center;
  width: $size;

  @media #{$mobile} {
    $size: 48px;
    border-width: 2px;
    font: {
      size: 10px;
    }
    height: $size;
    line-height: $size - 4;
    width: $size;
  }

  &--current {
    background: $blue;
    cursor: default;
  }

  &--complete {
    background: #7fc121;

    &:before {
      $size: 25px;
      background: $white;
      border-radius: inherit;
      box-shadow: inherit;
      content: "\f00c";
      color: #7fc121;
      display: block;
      height: $size;
      font: {
        family: FontAwesome;
        size: 16px;
      }
      left: 50%;
      line-height: $size;
      margin-left: (-($size / 2));
      position: absolute;
      top: (-($size / 2));
      width: $size;

      @media #{$mobile} {
        $size: 16px;
        height: $size;
        font: {
          size: 12px;
        }
        line-height: $size;
        margin-left: (-($size / 2));
        top: (-($size / 2));
        width: $size;
      }
    }
  }
}
/*endregion #STEPS*/