.stepCurrent {
    background: #0f78ab;
    cursor: default;
}
.ui-tooltip-content {
    font-size: 14px;          
}
.quote-scheme-title {
    font-size: 20px;
    font-weight: bold;
}
.packages .package-header {
    font-size: 42px;
}
.selected-options-price {
    color: #0fab76;
}
.notTransformText {
    text-transform: none;
}
a.docDisabled {
    color: #6f7f98;
}
.ages-lbl {
    font-size: 14px;
}
.phone-error-msg {
    display: none;
}
.expiredQuote {
    color: #808080;
}      
.invalid-number, .person-wrapper input.invalid-number {
    border-color: #ab0f0f;
}
.travellers-count a.selectBox {
    width: 100px !important;
}
.travellers-age a.selectBox {
    width: 120px !important;
}
.address-hint a.selectBox {
    width: 330px !important;
}
.selectBox-dropdown-menu {
    max-width: 330px;
}
#personForm a.selectBox {
    width: 120px !important;
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
}
textarea {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(39, 41, 43, 0.15);
    border-radius: 0.2857rem;
    box-shadow: 0 0 0 0 transparent inset;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    height: 12em;
    line-height: 1.2857;
    margin: 0;
    max-height: 24em;
    min-height: 8em;
    outline: medium none;
    padding: 0.78571em 1em;
    resize: vertical;        
    width: 100%;
    font-family: "Proxima Nova Regular",sans-serif;
}
.condition .form__label {
    height: 45px;
    line-height: 20px;
    font-size: 90%;
}
.condition .form__item {
    margin-right: 10px;
    width: 214px;
}   
.package-price-wrapper {
    margin: 10px 0;
}
.package-price-wrapper .package-price {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}
.package-price-wrapper .btn {
    display: inline-block;
    margin: 0;
    min-width: 50px;
    padding: 0 10px;
    vertical-align: text-bottom;
}
.package-price-wrapper .btn .fa {
    margin-right: 6px;
}
.grade-tip {
    min-height: 49px;
}
.annual-price-wrapper {
    margin-top: 10px;
}
.subsection-wrapper {
    padding-left: 25px;    
}
.table--packages tbody tr td {
    padding-bottom: 0;
    height: auto;
}
.table--packages .subsection-wrapper .tooltip {
    position: absolute;
    right: 5px;
    top: 8px;
}
.selectBox-dropdown-menu li a {
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
}
.package-price {
    font-size: 35px;    
}
.option--age .form__item.agesLeft {
    margin-left: 174px;
}
.section--personal-details h2, .section--insurance-policy h2,
.section--quote-history h2, .section--screening-data h2 {
    text-align: left;
    margin-left: -15px;
}
.person-details-left {
    float: left;
    margin: 0 0 20px 40px;
    text-align: left;
    width: 55%;
} 
.clear {
    clear: both;
}
.person-details-right {
    float: left;
    width: 40%;
}
.person-wrapper {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 29px;
}
.person-wrapper label {
    line-height: 33px;    
    color: #0f78ab;
    font-family: "Proxima Nova Bold",sans-serif;  
    display: inline-block;
    width: 250px;
}
.person-wrapper > span {
    display: inline-block;
    color: #5f5f5f;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 18px;    
    padding: 0 12px;
    line-height: 33px;    
}
.person-wrapper .item-tel {
    display: inline-block;
    position: relative;
    padding-left: 42px;
}
.person-wrapper span.form__filed {
    line-height: 30px;  
}
.form .person-wrapper i[class^="icons"]:not(.icons-save) {
    left: 0;
}
.introducer-wrapper {
    margin-top: 20px;
}
.person-wrapper .selectBox-dropdown {
    float: none;
    width: 250px !important;
}
.person-wrapper input {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #5f5f5f;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 18px;
    height: 35px;
    width: 250px;
    padding: 0 12px;
}
.person-details-right.editable {
    width: 38%;
}
.person-details-left.editable .item-tel {
   padding-left: 0;
}
.form .person-wrapper .editable i[class^="icons"]:not(.icons-save) {
    left: 10px;
}
input.inp-tel {
    padding-left: 52px;
}
.person-wrapper .editable label {
    width: 170px;
}
.person-wrapper .editable .form-item {
    margin-bottom: 5px;
}
.success-pg-title {
    text-align: center;
}
.socials-wrapper {
    background-color: #fff;
    width: 100%;
}
.socialleft {
    padding: 10px;
}
.sleft {
    display: inline-block;
    margin-left: 62px;
    min-width: 43px;
}
.sleft i {
    font-size: 14px;
    color: #fff;
    padding: 15px;
}
.sleft.facebook {
    background: #3b5998;
}
.sleft.google {
    background: #f20000;
}
.sleft.linkedin {
    background: #006599;
}
.sleft.twitter {
    background: #00b0ed;
}
.hexagons-wrapper {
    margin-top: 20px;
}
.hexagons-wrapper a {
    background-repeat: no-repeat;
    height: 135px;
    width: 120px;    
    margin-left: 10px;
    background-size: 120px 135px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 53px 1px 0 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}
.btn.success-pg-btn {
    display: block;
    margin-top: 20px;
    min-width: 240px;
}
.actions.success-pg-actions {
    margin: 31px 0 0 30px;
}
a.hex-green {
    background-image: url("../images/icons/payment-green.png");    
}
a.hex-red {
    background-image: url("../images/icons/payment-red.png");   
}
a.hex-magento {
    background-image: url("../images/icons/payment-magento.png");    
}
a.hex-yellow {
    background-image: url("../images/icons/payment-yellow.png");    
}
#optionsBlock {
     margin-left: 100px;
}
#optionsBlockPolicy {
    margin-left: 128px;
}
.introduce-nav-dynamic {
    position: fixed;
    right: 0;
    display: none;
}
.introduce-block-dynamic {
    position: fixed;
    margin: 160px auto auto;
    max-width: 1170px;
    display: none;
}
.introduce-block__info p {
    background-color: #4f6481 !important;
}
.introduce-block__content h1, .introduce-block__content h2, .introduce-block__content h3, .introduce-block__content h4 {
    color: #fff;
}
.introduce-block__content ol, .introduce-block__content ul {
    list-style-type: decimal;
}
.policyCanceled {
    color: #d95c5c;
}
.policy-cancel-center {
    text-align: center;
}
.optionsBlockPolicy {
    float: left;
    width: 245px;    
    padding: 0 14px;
}
.optionsBlockPolicy li {
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
}
.term-link {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}
.terms-content {
    margin-bottom: 20px;
}
.terms-content span {
    font-style: italic;
}
.terms-image {
    text-align: center;
}

.users-data .positive {
    background-color: #7fb959;
    color: #fff;
    padding: 3px;
}
.users-data .negative {
    background-color: #C5072F;
    color: #fff;
    padding: 3px;
}
.users-data .lost {
    background-color: #404040;
    color: #fff;
    padding: 3px;
}
.total-wrapper {
    margin-bottom: 20px;
}
.total-wrapper .labels {
    display: inline-block;
    font-weight: bold;
}
.total-wrapper .values {
    display: inline-block;
}
.score-wrapper .success {
    background-color: #7fb959;
    color: #fff;
    padding: 3px;
}

.score-wrapper .failure {
    background-color: #c5072f;
    color: #fff;
    padding: 3px;
}


@media only screen and (max-width : 990px) {
    .section--personal-details h2, .section--insurance-policy h2,
    .section--quote-history h2, .section--screening-data h2 {
        margin-left: 0;
    }
}    

@media only screen and (max-width : 962px) {    
    .optionsBlockPolicy {
        width: 45%;
    }
}    

@media only screen and (max-width : 950px) {    
    .person-details-right.editable {
        width: 46%;
    }
}    

@media only screen and (max-width : 930px) {
    .fl-r.success-pg-r {
        clear: both;
        float: none;
        padding-top: 20px;
    }     
}    

@media only screen and (max-width : 908px) {
    .person-wrapper label {
        width: 180px;
    }
}    

@media only screen and (max-width : 882px) {
    .person-details-right.editable {
        margin-bottom: 20px;
    }
}    

@media only screen and (max-width : 825px) {
    .option--age .form__item {
        margin-left: 174px;
    }
    .option--age .form__item.agesLeftTop {
        margin-left: 0;
    }
}    

@media only screen and (max-width : 770px) {
    .option--age .form__item, .option--age .form__item.agesLeft {
        margin-left: 0;
    }    
    .section--personal-details h2, .section--insurance-policy h2,
    .section--quote-history h2, .section--screening-data h2 {
        margin-left: 20px;
    }
    .menu__item {
        line-height: 16px;
    }
}

@media only screen and (max-width : 769px) {
    .section--last .wrapp--light-blue.success-pg-social {
        display: inline-block;
    }
    .sleft {
        margin-left: 0;
    }
    .btn-wrapper-sc {
        display: inline-block;        
    }
    .actions.success-pg-actions {
        margin-left: 0;
    }
    .hexagons-wrapper a {
        margin-bottom: 10px;
    }
    #optionsBlock, #optionsBlockPolicy {
         margin-left: 0;
         text-align: center;
         width: 100%;
    }
    #optionsBlock ul, #optionsBlockPolicy ul {
        display: inline-block;
    }
    .introduce-block__inner {
        height: auto;
    }
    .optionsBlockPolicy {
        padding: 0 5px;
    }
}    

@media only screen and (max-width : 768px) {
    .person-wrapper .item-tel {
        padding-left: 0;
    }
}    

@media only screen and (max-width : 746px) {
    .person-details-right {
        width: 40%;
    }
}    

@media only screen and (max-width : 673px) {
    .person-details-right {
        display: none;
    }
} 

@media only screen and (max-width : 769px) {
    .section--last .wrapp--light-blue.success-pg-social {
        display: inline-block;
    }
    .sleft {
        margin-left: 0;
    }
    .btn.success-pg-btn {
        display: inline-block;
    }
    .btn-wrapper-sc {
        display: inline-block;
        text-align: center;
        width: 400px;
    }
    .actions.success-pg-actions {
        margin-left: 0;
    }
    .hexagons-wrapper a {
        margin-bottom: 10px;
    }
}    

@media only screen and (max-width : 531px) {
    .btn-wrapper-sc {        
        width: 252px;
    }
}    

@media only screen and (max-width : 450px) {
    .term-link {
        font-size: 13px;
        margin-bottom: 10px;
    }  
}    
 
@media only screen and (max-width : 378px) {
    .person-details-left.editable {
        margin-left: 0;
    }
}    

