<div class="ui inverted masthead segment">
    <div class="ui page grid">
        <div class="column">
            <div id="menu" class="ui inverted blue menu">
                <div class="left"><a ui-sref="dashboard">BW</a></div>             
                <div class="right menu">
                    <div class="ui link item" tabindex="0">
                        <a href="#" ui-sref="add-applicant" class="item"><i class="setting icon"></i>Добавить претендентов</a>                        
                    </div>
                    <div class="ui link item" tabindex="0">
                        <a href="#" ui-sref="add-results" class="item"><i class="setting icon"></i>Добавить результаты</a>                        
                    </div>
                    <div class="ui link item" tabindex="0">
                        <a href="#" ui-sref="bets" class="item"><i class="male icon"></i>Ставки</a>                        
                    </div>                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>