<div class="users-data" ng-controller="BetController as bet">
  <section class="section section--quote-history" ng-init="bet.getUsers()">
    <div class="section__title">
      <div class="section__title-inner">
        <h2>Own Users</h2>      
      </div>
    </div>
    <div class="section__body">
      <div class="total-wrapper">
        <div>
          <div class="labels">Total Own Users:</div>
          <div class="values">{{bet.ownUsersTotal}}</div>
        </div>        
        <div>
          <div class="labels">Positive Own Users:</div>
          <div class="values">{{bet.positiveOwnUsersTotal}}</div>
        </div>
        <div>
          <div class="labels">Negative Own Users:</div>
          <div class="values">{{bet.negativeOwnUsersTotal}}</div>
        </div>
        <div>
          <div class="labels">Lost Own Users:</div>
          <div class="values">{{bet.lostOwnUsersTotal}}</div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <thead>
          <tr>
            <th width="30%">Username</th>
            <th width="20%">Current Amount</th>
            <th width="20%">Origin Amount</th>          
            <th width="10%">Status</th>   
            <th width="20%">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in bet.ownUsers">
            <td>
              <span>{{item.name}}</span>
            </td>                    
            <td>
              <span>{{item.current_amount}}</span>
            </td>
            <td>
              <span>{{item.origin_amount}}</span>
            </td>                    
            <td>
              <span ng-class="item.status">{{item.status}}</span>
            </td>
            <td>
              <a ng-click="bet.showBets($event, item.id)" href="#" class="btn btn-primary">bets</a>
            </td>
          </tr>        
          </tbody>
        </table>          
      </div>
    </div>
  </section> 
  <section class="section section--quote-history" ng-init="bet.getSuccessUsers()">
    <div class="section__title">
      <div class="section__title-inner">
        <h2>Success Users (top 20)</h2>      
      </div>
    </div>
    <div class="section__body">
      <div class="total-wrapper">
        <div>
          <div class="labels">Total Success Users:</div>
          <div class="values">{{bet.sucUsersTotal}} of {{bet.usersTotal}}</div>
        </div>   
        <div ng-repeat="item in bet.statisticsByRuleSuc">
          <div class="labels">{{item.ruleName}}:</div>
          <div class="values">{{item.userTotal}}</div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <thead>
          <tr>
            <th width="30%">Username</th>
            <th width="20%">Current Amount</th>
            <th width="20%">Origin Amount</th>          
            <th width="10%">Status</th>   
            <th width="20%">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in bet.successUsers">
            <td>
              <span>{{item.name}}</span>
            </td>                    
            <td>
              <span>{{item.current_amount}}</span>
            </td>
            <td>
              <span>{{item.origin_amount}}</span>
            </td>                    
            <td>
              <span ng-class="item.status">{{item.status}}</span>
            </td>
            <td>
              <a ng-click="bet.showBets(item.id)" href="#" class="btn btn-primary">bets</a>
            </td>
          </tr>        
          </tbody>
        </table>          
      </div>
    </div>
  </section> 
  <section class="section section--quote-history" ng-init="bet.getFailureUsers()">
    <div class="section__title">
      <div class="section__title-inner">
        <h2>Failure Users (bottom 20)</h2>      
      </div>
    </div>
    <div class="section__body">
      <div class="total-wrapper">
        <div>
          <div class="labels">Total Failure Users:</div>
          <div class="values">{{bet.failUsersTotal}} of {{bet.usersTotal}}</div>
        </div>   
        <div ng-repeat="item in bet.statisticsByRuleFail">
          <div class="labels">{{item.ruleName}}:</div>
          <div class="values">{{item.userTotal}}</div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <thead>
          <tr>
            <th width="30%">Username</th>
            <th width="20%">Current Amount</th>
            <th width="20%">Origin Amount</th>          
            <th width="10%">Status</th>   
            <th width="20%">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in bet.failureUsers">
            <td>
              <span>{{item.name}}</span>
            </td>                    
            <td>
              <span>{{item.current_amount}}</span>
            </td>
            <td>
              <span>{{item.origin_amount}}</span>
            </td>                    
            <td>
              <span ng-class="item.status">{{item.status}}</span>
            </td>
            <td>
              <a ng-click="bet.showBets(item.id)" href="#" class="btn btn-primary">bets</a>
            </td>
          </tr>        
          </tbody>
        </table>          
      </div>
    </div>
  </section>
  
</div>